<div id="contact-form-container">
    <h1>Contact Information</h1>

    <form class="form-container" [formGroup]="form" (ngSubmit)="displayContact()">

        <div class="form-group">
            <label for="title">Title</label>
            <select class="form-control" id="title" formControlName="title">
                <option *ngFor="let title of titles" [value]="title">{{title}}</option>
            </select>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="firstName">First Name<b class="text-error">*</b></label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">

            <div *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
                <span class="text-error">First name is required.</span>
            </div>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName" formControlName="middleName">
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="lastName">Last Name<b class="text-error">*</b></label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">

            <div *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
                <span class="text-error">Last name is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" formControlName="gender">
                <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
            </select>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="phoneNumber">Phone Number<b class="text-error">*</b></label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">

            <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
                <span *ngIf="phoneNumber.errors.required" class="text-error">Phone number is required.</span>
                <span *ngIf="phoneNumber.errors.localPhoneNumber" class="text-error">Locale code invalid.</span>
            </div>
        </div>

        <div class="form-group" [formGroup]="form">
            <label for="email">Email Address<b class="text-error">*</b></label>
            <input type="text" class="form-control" id="email" formControlName="email">

            <div *ngIf="email.touched && email.invalid">
                <span class="text-error">A valid email address is required.</span>
            </div>
        </div>

        <div class="form-group" [formGroup]="form" *ngIf="form.invalid">
            <br>
            <span class="text-error">All fields marked with an asterik (*) are required.</span>
        </div>

        <div class="form-group" [formGroup]="form" *ngIf="email.invalid && phoneNumber.invalid">
            <br>
            <span class="text-error">The form contains errors.</span>
        </div>

        <button type="submit" [disabled]="form.invalid" class="form-button" #submit>Submit</button>

    </form>

</div>